@model Holiberry.Api.ViewModels.Common.DeleteDataModalVM
@{
}
<div class="modal fade" id="@Model.ModalId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Model.Title</h5>
            </div>
            <div class="modal-body">
                @if (Model.CanBeDeleted)
                {
                    <p>@Model.QueryValue</p>
                }
                else
                {
                    <p>@Model.CancelInfo</p>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                @if (Model.CanBeDeleted)
                {
                    <a href="@Model.DeleteURL" class="btn btn-danger">Delete</a>
                }
            </div>
        </div>
    </div>
</div>